html,body{
	background-color: black;
}
.buttonarea{
	width:20%;
	display:grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.buttonarea2{
	width:20%;
	display:grid;
	grid-template-columns:2fr 1fr 1fr;
}

.buttonarea2>button:nth-child(1){
	border-radius: 2em;
	height:3.5em;
	text-align:left;
	padding-left:15%;
	margin-top:2%;
	border:none;
}

.buttonarea2>button:nth-child(2), .buttonarea2>button:nth-child(3){
	border-radius:50%;
	border:none;
	margin:5%;
}

.buttonarea>button{
	border-radius:50%;
	width:92%;
	height:3.5em;
	margin:5%;
	border:none;
}

.strowgray{
	background-color:#B9B7BD;
}

.lstrow{
	background-color:#FF8300;
	color:white;
}

.numbutton{
	background-color:#4E4F50;
	color:white;
}

input[type="text"]{
	background-color: black;
	border:none;
	text-align:right;
	color:white;
	font-size:1.5em;
	width:20%;
	padding-top:3%;
	padding-right:1%;
	padding-bottom:2%;
}

input[type="text"]::placeholder{
	color:white;
	font-size:1.5em;
}

@media only screen and (max-width: 770px){
	.buttonarea{
		width:40%;
		height:20em;
	}
	
	.buttonarea>button{
		border-radius:50%;
		width:92%;
		height:4.5em;
		margin:5%;
		border:none;
		font-size: 1em;
	}
	.buttonarea2{
		width:40%;
		display:grid;
		grid-template-columns:2fr 1fr 1fr;
	}
	
	.buttonarea2>button:nth-child(1){
		border-radius: 2em;
		height:4.5em;
		text-align:left;
		padding-left:15%;
		margin-top:2%;
		border:none;
		font-size: 1em;
	}
	input[type="text"]{
		width: 38%;
		font-size: 1.5em;
	}
}


@media only screen and (max-width: 500px){
	.buttonarea{
		width:60%;
		height:20em;
	}
	
	.buttonarea>button{
		border-radius:50%;
		width:92%;
		height:4.5em;
		margin:5%;
		border:none;
		font-size: 1em;
	}
	.buttonarea2{
		width:60%;
		display:grid;
		grid-template-columns:2fr 1fr 1fr;
	}
	
	.buttonarea2>button:nth-child(1){
		border-radius: 2em;
		height:4.5em;
		text-align:left;
		padding-left:15%;
		margin-top:2%;
		border:none;
		font-size: 1em;
	}
	input[type="text"]{
		width: 58%;
		font-size: 1.5em;
	}
}


@media only screen and (max-width: 460px){
	.buttonarea{
		width:100%;
		height:25em;
	}
	
	.buttonarea>button{
		border-radius:50%;
		width:92%;
		height:5.5em;
		margin:5%;
		border:none;
		font-size: 1em;
	}
	.buttonarea2{
		width:100%;
		display:grid;
		grid-template-columns:2fr 1fr 1fr;
	}
	
	.buttonarea2>button:nth-child(1){
		border-radius: 4em;
		height:5.5em;
		text-align:left;
		padding-left:15%;
		margin-top:2%;
		border:none;
		font-size: 1em;
	}
	input[type="text"]{
		margin-top: 14%;
		width: 96%;
		font-size: 2.5em;
	}
}